
/*
div {
  color: white !important;
  background-color: #35363A !important;

}
span {
  color: white !important;
  background-color: #35363A !important;

}


body {
  color: white !important;
  background-color: #35363A !important;

}

h1 {color: white !important;
background-color: #35363A;}
h2 {color: white !important;
background-color: #35363A;}
h3 {color: white !important;
background-color: #35363A;}
h4 {color: white !important;
background-color: #35363A;}
h5 {color: white !important;
background-color: #35363A;}
cite {color: white !important;}
main {
  color: white !important;
  background-color: #35363A !important;
}

a {
  color: white !important;
  background-color: #35363A;
}

input {color: white !important;
background-color: #35363A !important;}

li {color: white !important;
background-color: #35363A !important;}
*/
